<div class="login-form-wraper d-flex flex-column justify-content-start align-items-center">
    <div class="login-form-wraper__form-heading display-5 text-center col-6 mb-3 mt-5">Welcome to The Digital Bank Netbanking</div>
<form class="login-form border border-primar col-4 px-3" [formGroup]="logInForm" (ngSubmit)="onSubmit()">
    <div class="my-3">
        <label for="username" class="form-label">User ID</label>
        <input type="text" name="username" class="form-control" formControlName="username">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" formControlName="password">
    </div>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary mb-3">Submit</button>
    </div>
</form>
</div>

