<div *ngIf="fatching" class="d-flex justify-content-center mt-5">
  
    <div class="lds-spinner">
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div>    
        </div><div></div><div></div><div></div><div></div></div>

</div>

<div *ngIf="errorStatus">
    <p class="alert alert-success">Something went wrong the following error occurred</p>
    <div class="alert alert-danger">{{error}}</div>
</div>

<div [ngClass]="{display:fatching || errorStatus}" >
<app-header></app-header>    
<app-intro></app-intro>
<div class="row">
    <div class="col-12 col-lg-3">
        <app-acc-summary></app-acc-summary>
    </div>
    <div class="col-12 col-lg-5">
        <app-statments></app-statments>
    </div>
    <div class="col-12 col-lg-4">
        <app-side-menubar></app-side-menubar>
    </div>
</div> 

<!-- <button (click)="onClick()">click</button> -->
</div>